:root{
    --background:white;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
}
ul{
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    margin-right: 5px;
    background-color: var(--background);
    overflow: auto;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 18px;
    height: 50px;
    padding-top: 50px 0;
}

#header-text{
    display: flex;
    background-color: white;
    padding: 15px 0;
    font-size: 20px;
    column-gap: 30px;
    text-decoration: none;
}
#header-text a{
    text-decoration: none;
    color:black;
}
#header-text a:hover{
  color: gray;
  text-decoration: underline;
}

#profile-photo{
    border-radius: 50%;
}
#profile-photo:hover{
    border: 2px solid black;
}

#icon:hover{
    opacity: 50%;
}

#content{
    margin-top: 100px;
    width: 100%;
    background-color: white;
    text-align: center;
}
#google-text{
    display: flex;
    justify-content: center;
    font-size: 150px;
    column-gap: 10px;
}
input{
    margin-top: 15px;
    border-radius: 20px;
    width: 400px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border:1px solid gray;
    color:black;
    position: relative;

}
.btn{
    font-size:15px;
    border-radius: 5%;
    padding: 7px;
    margin-left: 5px;
    border: none;
    
}
.btn:hover{
    border: 2px solid black;
}
#subtext{
    padding-top: 10px;
    font-size: 20px;
}
#subtext a{
    text-decoration: none;
    font-size: 17px;
    padding-right: 10px;
}
footer{
    margin-top: 250px;
    background-color:light-gray;
    text-align: center;
}